@use "sass:color";

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: #{"max(100vh - 50px)"};
  padding: var(--header-space) 15px;
  max-width: 1200px;
  margin: 0 auto;
  .description {
    height: 300px;
    margin-right: 30px;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    a{
      font-size: 1.4rem !important;
      font-family: var(--font-secondary);
    }
  }
  .login-form{
    width: 35%;
  }
}

.repairer-list-container {
  padding: var(--padding-medium);
  padding-top: var(--header-space);
  .status-menu-list {
    margin-bottom: 10px;
    .MuiList-root{
      overflow: hidden;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      row-gap: 10px;
      column-gap: 5px;
    }
    .MuiListItem-root {
      width: 220px;
    }
    .MuiListItemButton-root {
      color: rgba(0, 0, 0, 0.54);
      border: 1px solid var(--borderColor);
      border-radius: var(--border-radius-small);
      &.Mui-selected {
        border: 1px solid var(--brandColor);
        background-color: var(--brandColor);
        padding-left: 16px !important;
        .MuiTypography-root {
          color: #FFF;
        }
      }
    }
    .MuiListItemSecondaryAction-root{
      right: 0px !important;
    }
    .chip-text {
      color: var(--textColor);
    }

    .chip-desc {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 120px;
    }

    .MuiChip-filledDefault {
      background-color: var(--lightTextColor);
      .chip-text {
        color: #FFF;
      }
      &.selected {
        background-color: var(--backgroundGray);
        .chip-text {
          color:  var(--textColor);
        }
      }
    }
  }
  .announcement_section {
    .top-announcement {
      p{
        font-family: var(--font-primary);
      }
    }
    .custom-accordian-detail{
      font-family: var(--font-secondary);
      font-size: 1.4rem;
    }
  }
  .filter-section {
    padding: var(--padding-large);
    margin-top: var(--padding-medium);
    background-color: #FFF;
    border-radius: var(--border-radius-medium);
    box-shadow: var(--shadow-medium);
    .filter-grid {
      margin-top: 10px;
      .MuiFormControl-root{
        width: 100%;
      }
      .filter-button {
       
      }
    }
  }
  .table-section {
    background-color: #FFF;
    margin-top: var(--margin-medium);
    padding: var(--padding-large);
    box-shadow: var(--shadow-medium);
    border-radius: var(--border-radius-medium);
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .total {
        margin-right: 20px;
        font-size: 1.0rem;
        .total-number {
          float: right;
          margin: 0;
          font-size: 2rem;
        }
      }
    }
    .MuiTableCell-alignRight{
      text-align: right !important;
    }
    .summary {
      display: flex
    }
    .job-table {
      margin: 0 -24px;
      margin-top: 20px;
      padding-bottom: 50px;
      .MuiPaper-root{
        box-shadow: none;
        border-radius: 0;
      }
      table{
        th{
          color: var(--textColor);
          font-family: var(--font-primary) !important;
          font-size: 1.4rem;
          .MuiButtonBase-root{
            font-family: var(--font-primary) !important;
            display: flex;
          }
        }
        th:first-child{
          padding-left: 25px;
        }
        td:first-child{
          padding-left: 25px;
        }
        th:last-child{
          padding-right: 25px;
        }
        td:last-child{
          padding-right: 25px;
        }
        td{
          .MuiButtonBase-root{
            background: #fff;
          }
          p{
            font-size: 1.6rem;
          }
        }
      }
      .table-pagination {
        margin-top: 20px;
        float: right;
      }
      .cell-data {
        display: flex;
        p{
          font-size: 1.6rem;
          
        }
        .cell-bull {
          font-size: 20px;
          margin-top: -6px;
          margin-right: 5px;
          color: var(--brandColor);
        }
      }
    }
    .legend {
      position: relative;
      top: -30px;
      margin-bottom: -30px;
      width: auto;
      .info-icon {
        font-size: 30px;
        color: var(--brandColor);
      }
      .legend-text {
        display: flex;
        .blue-warning, .red-warning, .orange-warning {
          width: 13px;
          height: 13px;
          margin: 4px 5px 0px 0px;
          display: block;
        }
      }
    }
  }
}

.MuiPagination-root{
  padding: 0 var(--padding-medium);
}

.job-action-container {
  padding: var(--padding-medium);
  padding-top: var(--header-space);
  .heading {
    display: flex;
  }
  .action-body {

    .action-grid {
      .tab-section {
        .action-tab-wrapper {
          margin-top: 20px;
          .notes-heading{
            &.image-text-wrapper{
              .MuiSvgIcon-root{
                font-size: 2.5rem !important;
              }
            }
          }
          .action-wrapper {
            display: flex;
            padding: var(--padding-medium);
            background: #fff;
            border-bottom: 1px solid var(--borderColor);
            border-left: 1px solid  var(--borderColor);
            border-right:  1px solid var(--borderColor);
            border-bottom-left-radius: var(--border-radius);
            border-bottom-right-radius: var(--border-radius);
            .action-tab {
              width: 50%;
              @media screen and (max-width: 992px) {
                width: 100%;
              }
              .tab-form {
                border: 1px solid var(--borderColor);
                border-radius: 5px;
                .header-section {
                  padding: var(--padding-medium);
                  border-bottom: 1px solid var(--borderColor);
                }
                .info-section {
                  display: flex;
                  padding: var(--padding-medium);
                  padding-bottom: 0;
                  &:last-child{
                    padding: var(--padding-medium);
                  }
                  &.no-padding-bt {
                    padding-bottom: 0px;
                  }
                  &.no-icon {
                    margin-left: -10px;
                  }
                  .form-icon {
                    font-size: 20px;
                    color: #2196f3;
                    margin-right: 5px;
                  }
                }
                .alert-section {
                  border: 1px solid var(--errorColor);
                  padding: 10px;
                  display: flex;
                  align-items: center;
                  .alert-text {
                    color: var(--textColor);
                  }
                  .alert-icon {
                    font-size: 24px;
                  }
                  &.info {
                    border: 1px solid var(--infoColor);
                    .alert-icon {
                      margin-top: 4px;
                    }
                  }
                }
                .form-item-section {
                  padding: var(--padding-medium);
                  display: flex;
                  flex-direction: column;
                  justify-content: space-between;
                  gap: var(--padding-medium);
                  &.with-date {
                    padding-top: 15px;
                    
                  }
                  &.with-check-in {
                    padding-top: 15px;
                    
                  }
                  &.with-escalation {
                    
                  }
                  &.with-note-upload {
   
                    
                  }
                  &.with-confirm-assess {
                   
                    
                  }
                  &.with-assess-outcome {
                   
                    &.approve {
                      
                    }
                  }
                  &.with-repair-assess {
                    
                    
                  }
                  &.with-provide-quote {
                    height: 150px;
                    &.has-quote {
                      height: 820px;
                      .total-with-gst {
                        margin-bottom: 20px;
                      }
                    }
                  }
                  &.with-parts-eta {
                    &.date {
                      height: 200px;
                    }
                    &.alert {
                      margin-top: 20px;
                      height: 150px;
                    }
                    &.date-alert {
                      height: 280px;
                    }
                  }
                  &.with-dispatch {
                    margin-top: 20px;
                    &.customer {
                      height: 700px;
                    }
                    &.store {
                      height: 440px
                    }
                  }
                  &.check-in-notes {
                    margin-top: 20px;
                    height: 450px;
                  }
                  .upload-info {
                    color: var(--textColor)
                  }
                }
                .next-prev-btn {
                  display: flex;
                  padding: 10px 15px;
                  justify-content: space-between;
                }
                .liability-info {
                  padding: 0px 0px 20px 15px
                }
                .change-link {
                  margin-top: 2px;
                  cursor: pointer;
                  font-size: 1.2rem;
                }
                &.visual-inspection {
                  .alert-section {
                    border: 1px solid var(--infoColor);
                  }
                  .form-item-section {
                    
                  }
                  &.price {
                    .form-item-section {
                      
                    }
                  }
                  &.details {
                    .form-item-section {
                      
                    }
                  }
                }
                &.rectification {
                  .form-item-section {
                    
                  }
                }
              }
            }
            .action-stepper {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 50%;
            }
          }
        }
      }
      .notes-section {
        background-color: #FFF;
        padding: var(--padding-medium);
        border: 1px solid var(--borderColor);
        border-radius: 5px;
        .note-items {
          .detail-card-parent  {
            margin-bottom: var(--padding-medium) !important;
          }
        }
      }
    }
  }
}

.configure-container {
  margin: 80px 20px 0px 20px;
  .css-wpnxzf {
    margin-bottom: 0px;
  }
  .action-section{
    margin: 0 -20px -20px -20px;
    padding: var(--padding-medium) !important;
  }
  .section-title{
    position: relative;
    margin-bottom: var(--margin-small);
    h4{
      background: #fff;
      position: relative;
      z-index: 10;
      padding-right: var(--padding-small);
      display: inline-block;
    }
    &::after{
      position: absolute;
      width: 100%;
      height: 1px;
      top: 50%;
      left: 0;
      content: "";
      background: var(--borderColor);
    }
  }
  h2{
    padding-bottom: var(--padding-small);
  }
  h3{
    padding-bottom: var(--padding-small);
  }
  .tab-section {
    margin-top: 20px;
    border-radius: 5px;
    div[aria-labelledby="simple-tab-changeDetails"], div[aria-labelledby="simple-tab-repairerJobSetting"] {
      .css-19kzrtu {
        padding: 0px;
      }
    }
    .MuiBox-root{
      padding: 0;
    }
    .account-summary-tab{
      background: #fff;
      padding: var(--padding-medium);
      border-bottom: 1px solid var(--borderColor);
      border-left: 1px solid var(--borderColor);
      border-right: 1px solid var(--borderColor);
      border-radius: var(--border-radius);
      border-top-right-radius: 0;
    }

    .change-details-tab {
      background: #fff;
      padding: var(--padding-medium);
      border-bottom: 1px solid var(--borderColor);
      border-left: 1px solid var(--borderColor);
      border-right: 1px solid var(--borderColor);
      border-radius: var(--border-radius);
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      .data-section {
        margin-top: var(--padding-medium);
        overflow-y: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
        .availability-card {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border: 1px solid var(--borderColor);
          border-radius: 5px;
          padding: 20px;
        }
        .details-section {
          .section-title {
            margin-bottom: 20px;
            display: flex;
            justify-content: space-between;
            .details {
              width: 89%;
              margin-bottom: 8px;
            }
            .systems {
              width: 87%;
              margin-bottom: 10px;
            }
            .login {
              width: 93%;
              margin-bottom: 10px;
            }
          }
          .text-row {
            margin-top: 15px;
            display: flex;
            gap: var(--padding-medium);
            justify-content: space-between;
            .text-row-item {
              width: 100%;
            }

            .two-third {
              &.text-row-item {
                width: 66%;
              }
            }

            &.with-select {    
              width: 66%;
              .text-row-item {
                width: 48.5%;
              }
            }
          }
          .text-row:last-child {
            margin-bottom: 20px;
          }
        }

      }
      .data-section:first-child {
        margin-top: 0px;
      }
      .status-select {
        width: 300px;
        &.success {
          .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
            border-color: var(--brandColor) !important;
          }
        }
        &.error {
          .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
            border-color: var(--errorColor) !important;

          }
        }
      }
      .action-section {
        margin-top: -10px;
      }
    }
    .job-setting-tab {
      background: #fff;
      padding: var(--padding-medium);
      border-bottom: 1px solid var(--borderColor);
      border-left: 1px solid var(--borderColor);
      border-right: 1px solid var(--borderColor);
      border-radius: var(--border-radius);
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      .field-container {
        display: flex;
        gap: var(--padding-medium);
        .section-title {
  
        }
        .field-column {
          display: block;
          width: 100%;
          .field-section {
            margin-bottom: 20px;
            h4{
              padding-bottom: var(--padding-small);
            }
            &.column-flex {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
            }
            &.column-flex-multiple {
              margin-top: 20px;
              display: flex;
              flex-direction: column;
              height: 200px;
              justify-content: space-between;
            }
          }
        }
      }
      .action-section {
        display: flex;
        justify-content: flex-end;
        padding: 10px 24px;
        border-top: 1px solid var(--borderColor);
      }
    }
    .pickup-zones-tab {
      background: #fff;
      padding: var(--padding-medium);
      border-radius: 4px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom: 1px solid var(--borderColor);
      border-left: 1px solid var(--borderColor);
      border-right: 1px solid var(--borderColor);
      .top-area {
        border: 1px solid var(--borderColor);
        border-radius: var(--border-radius);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: var(--padding-small);
        
        .badge-section {
          .check-icon {
            color: var(--brandColor);
            font-size: 24px;
          }
        }
      }
      .add-zone-section {
        margin-top: var(--margin-medium);
        border: 1px solid var(--borderColor);
        border-radius: var(--border-radius);
        .header {
          border-bottom: 1px solid var(--borderColor);
          padding: var(--padding-small);
        }
        .action-area {
          display: flex;
          .postcode-section {
            width: 60%;
            border-right: 1px solid var(--borderColor);
            .postcode-search {
              display: flex;
              justify-content: space-between;
              padding: var(--padding-small);
              border-bottom: 1px solid var(--borderColor);
              .MuiAutocomplete-root {
                width: 100%;
                .MuiFormControl-root {
                  width: 100%;
                }
                .MuiAutocomplete-popupIndicator {
                  transform: rotate(0)  !important;
                }
              }
              .add-code {
                margin-left: var(--margin-small);
              }
            }
            .list-area {
              .header {
                display: flex;
                justify-content: space-between;
                align-items: center;
              }
              // .postcode-list-table {
              //   margin: var(--margin-medium);
              //   border: 1px solid var(--borderColor);
              //   border-radius: var(--border-radius);
              //   .MuiTableCell-head {
              //     font-weight: 600;
              //   }
              //   .MuiTableCell-alignRight {
              //     text-align: right;
              //   }
              //   .MuiTableBody-root {
              //     height: calc(100vh - 570px);
              //     display: block;
              //     overflow: auto;
              //     -ms-overflow-style: none;  /* IE and Edge */
              //     scrollbar-width: none; 
              //   }
              //   thead, tbody tr {
              //     display: table;
              //     width: 100%;
              //     table-layout: fixed;
              //   }
              // }
            }
          }
          .upload-section {
            padding: var(--padding-small);
            width: 40%;
            .info {
              margin-top: -10px;
              margin-bottom: var(--margin-medium);
            }
          }
        }
      }
    }
    .product-tab {
      background: #fff;
      padding: var(--padding-medium);
      border-radius: 4px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom: 1px solid var(--borderColor);
      border-left: 1px solid var(--borderColor);
      border-right: 1px solid var(--borderColor);
      .tab-view {
        .MuiTab-root {
          border: none;
          margin-right: var(--margin-medium);
          background-color: #FFF;
          &.Mui-selected {
            border-bottom: 2px solid var(--brandColor);
          }
        }
        .sub-tab {
          margin-top: var(--margin-medium);
          .post-link {
            color: var(--textColor);
            font-weight: 400;
            font-size: 12px !important;
          }
          .data-section {
            margin-top: var(--margin-medium);
            border: 1px solid var(--borderColor);
            border-radius: var(--border-radius);
            .sub-heading {
              padding-top: var(--padding-small);
              padding-left: var(--padding-small);
            };
            .action-row {
              display: flex;
              justify-content: space-between;
              align-items: center;
              gap: var(--padding-small);
              margin-bottom: var(--margin-medium);
              padding: var(--padding-small);
              border-bottom: 1px solid var(--borderColor);
              align-items: flex-end;
              .select-01 {
                width: 20%;
              }
              .select-02 {
                width: 70%;
              }
              .add-btn {
                min-width: 120px;
                margin-top: 17px;
              }
              .select-label {
                font-weight: 600;
              }
            }
            .table-section {
              padding: var(--padding-small);
              .header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: var(--margin-medium);
                margin-top: -20px;
              }
              .postcode-list-table {
                border: 1px solid var(--borderColor);
                border-radius: var(--border-radius);
                .MuiTableCell-head {
                  font-weight: 600;
                }
              }
            }
          }
        }
      }
    }
  }
}

.api-docs-container {
  margin: 80px 20px 0px 20px;
}

.blue-warning {
  background: var(--tableBlue);
}
.red-warning {
  background: var(--tableRed);
}
.orange-warning {
  background: var(--tableOrange);
}

.table-row-blue {
  background-color: color.adjust(#4A44E5, $lightness:37%);
  position: relative;
  td:first-child{
    &::before{
      content: "";
      width: 4px;
      height: 100%;
      left: 0;
      top: 0;
      background: var(--tableBlue);
      position: absolute;
    }
  }
}

.table-row-red {
  background-color: color.adjust(#E54444, $lightness:37%);
  position: relative;
  td:first-child{
    &::before{
      content: "";
      width: 4px;
      height: 100%;
      left: 0;
      top: 0;
      background: var(--tableRed);
      position: absolute;
    }
  }
}

.table-row-orange {
  background-color: color.adjust(#EA9F2F, $lightness:37%);
  position: relative;
  td:first-child{
    &::before{
      content: "";
      width: 4px;
      height: 100%;
      left: 0;
      top: 0;
      background: var(--tableOrange);
      position: absolute;
    }
  }
}

.no-bold {
  font-weight: 400 !important;
}

.tab-label {
  padding: 0px var(--padding-small);
  .MuiSvgIcon-root {
    margin-top: -2px;
    margin-right: -2px;
  }
}

.notes-heading {
  margin-bottom: 10px;
  .notes-icon {
    color: var(--brandColor);
    font-size: 24px !important;
    margin: 0 !important;
  }
}

.tab-wrapper {
  background-color: #FFF;
  border-radius: 5px;
  .css-wpnxzf {
    margin-bottom: 0px !important;
  }
}

.available-option {
  display: flex;
  svg {
    margin-top: 2.2px;
    margin-right: 8px;
  }
  &.available {
    color: var(--brandColor);
  }

  &.unavailable {
    color: var(--errorColor);
  }
}

.group-select-menu {
  position: fixed !important;
  .MuiPaper-root {
    max-height: 300px;
  }
}

.status-select-menu {
  .MuiPaper-root {
    max-height: 300px;
  }
}

.tab-table {
  margin: var(--margin-medium);
  border: 1px solid var(--borderColor);
  border-radius: var(--border-radius);
  .MuiTableCell-head {
    font-weight: 600;
  }
  .MuiTableCell-alignRight {
    text-align: right;
  }
  .MuiTableBody-root {
    height: calc(100vh - 580px);
    display: block;
    overflow: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; 
  }
  thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
  td {
    padding: 0px 12px;
  }
  &.brand-list-table {
    margin: 0;
    .MuiTableBody-root {
      height: calc(100vh - 610px);
    }
  }
}

.select-tag-container {
  .select-chip {
    z-index: 100000;
    margin-right: var(--margin-small);
    background-color: var(--lightTextColor);
    .MuiChip-label {
      color: #FFF;
      font-weight: 400;
    }
    .MuiChip-deleteIcon {
      color: #FFF;
      font-size: 14px;
    }
  }
}

.MuiTooltip-tooltip {
  font-size: 1.4rem !important;
}

.case-detail-link {
  font-size: 1.4rem !important;
  font-family: var(--font-secondary) !important;
}
